@import "/src/styles/settings";

.contact-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 8rem;

  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;

    .form-group {
      margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
      }

      input,
      textarea {
        width: 100%;
        padding: 0.5rem;
        border: 3px solid $color1;
        border-radius: 25px;
        resize: none;
        outline: none;

        &:hover,
        &:focus {
          border: 3px dashed $color;
        }
      }

      textarea {
        height: 150px;
        border-radius: 15px;
      }
    }

    button {
      align-self: flex-start;
      padding: 0.5rem 1rem;
      background-color: $color;
      color: $color3;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color5;
      }
    }
  }
}
