@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/static/Inter-Medium.ttf");
}
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Inter";
}

body {
  min-height: 100vh;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  width: 98%;
  background-color: white;
  z-index: 1000;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.navbar.scrolled {
  border-bottom: 2px solid #e5e5e5;
}
.navbar .nav-left,
.navbar .nav-right {
  display: flex;
  align-items: center;
  padding: 10px;
}
.navbar .nav-left .logo,
.navbar .nav-right .logo {
  margin-right: 10px;
}
.navbar .nav-left .logo img,
.navbar .nav-right .logo img {
  width: 24px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.navbar .nav-left li,
.navbar .nav-right li {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.navbar .nav-left li:hover,
.navbar .nav-right li:hover {
  background-color: rgba(229, 229, 229, 0.4039215686);
  border-radius: 5px;
  cursor: pointer;
}
.navbar .nav-left li a,
.navbar .nav-right li a {
  color: #000;
  text-decoration: none;
}
.navbar .nav-left li.donation-link,
.navbar .nav-right li.donation-link {
  display: flex;
  align-items: center;
}
.navbar .nav-left li.donation-link .fa-bitcoin,
.navbar .nav-right li.donation-link .fa-bitcoin {
  margin: 0 5px;
  vertical-align: middle;
  font-size: 1.5rem;
  color: rgb(247, 147, 26);
}
.navbar .nav-right {
  display: flex;
  align-items: center;
}
.navbar .nav-right .fa-linkedin:hover {
  color: rgb(10, 102, 194);
  transition: ease-in;
}
.navbar .nav-right li {
  padding: 0 10px;
}
.navbar .nav-right li a {
  font-size: 1.9rem;
}

#TitleReveal h1 {
  padding-top: 200px;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  line-height: 1.4;
}
#TitleReveal .word {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

#background {
  background-image: url("/assets/img/Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Footer styles */
footer {
  background-color: #ffffff;
  padding: 20px 0;
  text-align: center;
  border-top: 2px solid #e5e5e5;
}
footer .footer-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-content p {
  margin: 10px 0;
  color: #333;
}
footer .footer-content .socials {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
}
footer .footer-content .socials .fa-linkedin:hover {
  color: rgb(10, 102, 194);
  transition: ease-in;
}
footer .footer-content .socials li {
  padding: 5px 10px;
}
footer .footer-content .socials li:hover {
  background-color: rgba(229, 229, 229, 0.4039215686);
  border-radius: 5px;
  cursor: pointer;
}
footer .footer-content .socials li a {
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}/*# sourceMappingURL=index.css.map */