@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/static/Inter-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Inter";
}

body {
  min-height: 100vh;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
